
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
  transition: background 0.4s ease;
  background: transparent; 
}
.navbar-scrolled {
  background: white !important;
}
.navbar .nav-link {
  color: white !important;
   
  margin: 0 10px;
  transition: color 0.3s ease;
}
.navbar-scrolled .nav-link {
  color: black !important;
}
.navbar .nav-link:hover {
  color: #197c75 !important;
}

/* Logo text */
.text-teal {
  color: #197c75;
}
.text-black {
  color: black;
}
.navbar-brand img {
  height: 45px;
}
.brand-text {
  line-height: 1.1;
}
.navbar-scrolled .brand-text .text-teal {
  color: #197c75 !important;
}
.navbar-scrolled .brand-text .text-black {
  color: black !important;
}

/* Dropdown */
.navbar .dropdown-menu {
  background-color: black;
  border: none;
}
.navbar .dropdown-item {
  color: white;
}
.navbar .dropdown-item:hover {
  background-color: #444;
}

/* Hero Section */
#hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hero-slider {
  height: 100%;
  
  position: relative;
}
.slide {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1.1);
  transition: opacity 2s ease-in-out, transform 5s ease;
}
.slide.active {
  opacity: 1;
  transform: scale(1);
}
.slide1 { background-image: url('../images/banner1.jpg'); }
.slide2 { background-image: url('../images/banner2.jpg'); }
.slide3 { background-image: url('../images/banner3.jpg'); }
.slide4 { background-image: url('../images/banner4.jpg'); }
.slide5 { background-image: url('../images/banner5.jpg'); }
.slide6 { background-image: url('../images/banner6.jpg'); }
.slide7 { background-image: url('../images/banner7.jpg'); }
.slide8 { background-image: url('../images/banner8.jpg'); }

.hero-text {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 0 2px 10px rgba(0,0,0,0.6);
}
.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
}
.hero-text p {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.slide-caption {
  position: absolute;
  right: 40px;
  bottom: 40px;
  color: #fff;
  text-align: right;
  max-width: 400px;
  animation: fadeUp 1.2s ease forwards;
}

/* Caption text */
.slide-caption h4 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 5px;
   text-shadow: 0 2px 10px rgba(0,0,0,0.6);
}


/* Animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Intro Section */
.intro {
  background-color: #f9f9f9;
}
.intro h2 {
  color: #000;
  font-size: 2rem;
}
.intro p {
  font-size: 1.1rem;
  /* max-width: 800px; */
  margin: 0 auto;
  line-height: 1.6;
  text-align: justify;
}
.intro img {
  width: 100%;
  object-fit: cover;
  
}
/* Fade-Up Scroll Animation */
.fade-up {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}
.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}
/* WHAT WE DO SECTION */
#what-we-do {
  background-color: #f2f0e1;
  padding: 80px 0;
}

/* Title with underline animation */
#what-we-do .section-title {
  font-weight: 700;
  font-size: 2rem;
  color: #000;
  position: relative;
  display: inline-block;
}

#what-we-do .section-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 3px;
  width: 0%;
  background-color: #000;
  transition: width 0.6s ease;
}

#what-we-do .section-title[data-aos="fade-down"].aos-animate::after {
  width: 100%;
}



.work-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}


/* Card layout  */
.work-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  height: 100%; 
}


.work-image {
  width: 100%;
  height: 350px; 
  overflow: hidden;
}

.work-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;       
  transform: translateZ(0); 
  backface-visibility: hidden;
  transition: transform 0.3s ease;
}



/* Button style */
.btn-view {
  background: #0d6efd;
  color: #fff;
  padding: 8px 20px;
  
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease;
}

.btn-view:hover {
  background: #084298;
}


.cta-section {
  position: relative;
  background: url("../images/cta-bg.jpg") center/cover no-repeat;
  padding: 90px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  z-index: 1;
}

.cta-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.cta-content h2 {
  color: #fff;
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 12px;
}

.cta-content p {
  color: #eaeaea;
  margin-bottom: 25px;
  font-size: 18px;
}

.cta-btn {
  background: #ffffff;
  color: #000;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s;
  display: inline-block;
}

.cta-btn:hover {
  background: #055b4c;
  color: #fff;
}

.about-banner {
  position: relative;
  background: url('../images/about-banner.jpg') center center/cover no-repeat;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.about-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.about-banner .banner-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.about-banner h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.service-banner {
  position: relative;
  background: url('../images/services.jpg') center center/cover no-repeat;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.service-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.service-banner .service-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.service-banner h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section-title {
  font-size: 2rem;
  font-weight: 600;
  color: #197c75;
  margin-bottom: 20px;
  margin-top: 20px;
}
.about p {
  text-align: justify;
}

.about-section p {
   font-size: 15px;
  color: #333;
  padding: 30px;
  line-height: 1.7;
 text-align: justify !important;
}
.about img
{
  height: 300px;
  width: 300px;
}
/* Vision, Mission, Why Choose Us Section */
.vmw-section {
  background-color: #f8f9fa;
  overflow: hidden;
}

.vmw-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  position: relative;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.vmw-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}


.vmw-title {
  position: relative;
  padding-left: 20px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #197c75;
}

.vmw-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 5px;
  height: 90%;
  background-color: #197c75;
  border-radius: 3px;
}


.vmw-box p {
  font-size: 15px;
  color: #333;
  line-height: 1.7;
  text-align: justify;
}


[data-aos] {
  transition-duration: 1.2s !important;
}
/* WHAT WE DO SECTION */
#what-we-do {
  background-color: #f8f9fa;
}

.section-title {
  font-weight: 700;
  font-size: 2rem;
  color: #197c75;
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #197c75;
  margin: 10px auto 0;
  border-radius: 2px;
}
.section-subtext {
  max-width: 700px;
  margin: 0 auto;
  color: #242323;
  font-size: 17px;
}
/* Card design */
.work-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.work-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Image overlay */
.work-image {
  position: relative;
  overflow: hidden;
}

.work-image img {
  transition: transform 0.5s ease;
}

.work-card:hover img {
  transform: scale(1.1);
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(25,124,117,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.4s ease;
}

.work-card:hover .overlay {
  opacity: 1;
}

/* Button */
.btn-view {
  background: #fff;
  color: #197c75;
  border: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-view:hover {
  background: #197c75;
  color: #fff;
}

#our-process {
  background: linear-gradient(135deg, #14685c, #198d7a);
  /* background-image: url('../images/bg-cover-2.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color: white;
}

#our-process .section-title {
  font-weight: 700;
  font-size: 2rem;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

#our-process .section-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: white;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

#our-process .section-title:hover::after {
  width: 100px;
}

.process-step {
  padding: 20px;
}

.process-step .icon svg {
  transition: transform 0.4s ease, filter 0.4s ease;
}

.process-step:hover .icon svg {
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
}

.process-step h4 {
  font-weight: 600;
  margin-top: 10px;
}

.process-step p {
  font-size: 0.95rem;
  color: #f0f0f0;
  line-height: 1.6;
}
#our-process h2 {
  color: white;
  z-index: 2;
  position: relative;
}
/* ===== FOOTER  ===== */
#details {
  background: linear-gradient(180deg, #111 0%, #000 100%);
  color: #f1f1f1;
  font-size: 15px;
}

.footer-title {
  font-weight: 600;
  margin-bottom: 20px;
  color: #ffffff;
  position: relative;
}
footer p {
  text-align: justify;
}
.footer-title::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #197c75;
  margin-top: 8px;
}

.footer-links,
.footer-contact {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li,
.footer-contact li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #cccccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #197c75;
}

.footer-contact li {
  color: #ddd;
  line-height: 1.6;
}

.footer-logo img {
  height: 55px;
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.2));
}

.footer-bottom {
  border-color: rgba(255, 255, 255, 0.1) !important;
}

.footer-bottom p {
  color: #aaa;
  
}
/* =========================
   SERVICES SECTION
========================= */

.services-section {
  padding: 120px 0;
  background: #ffffff;
  overflow: hidden;
}

/* Layout */
.service-row {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-bottom: 140px;
  /* overflow: hidden; */
}

.service-row.reverse {
  flex-direction: row-reverse;
}

/* Content */
.service-content {
  max-width: 520px;
  padding: 40px;
}

.service-content h3 {
  font-size: 30px;
  font-weight: 700;
  color: #0b2b28;
  margin-bottom: 15px;
}

.service-content p {
  font-size: 16px;
  line-height: 1.8;
  color: #555;
  text-align: justify;
}

/* Image Wrapper */
.image-wrapper {
  position: relative;
  flex: 1;
  /* overflow: hidden; */
}

/* Background block */
.image-bg {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #0b6f66; 
  z-index: 1;
}

/* Image box */
.service-image {
  position: relative;
  height: 380px;
  overflow: hidden;
  z-index: 2;
}

.service-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

/* Hover zoom */
.service-image:hover img {
  transform: scale(1.08);
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 991px) {
  .service-row,
  .service-row.reverse {
    flex-direction: column;
    gap: 40px;
  }

  .service-content {
    padding: 20px;
    max-width: 100%;
  }

  .image-bg {
    top: -20px;
    left: -20px;
  }
}

@media (max-width: 576px) {
  .service-image {
    height: 260px;
  }

  .service-content h3 {
    font-size: 24px;
  }
}
/* Background image section */
.service-bg-section {
  background: url("../images/service.jpg") center center / cover no-repeat ;
  padding: 120px 0;
  position: relative;
}


/* White floating box */
.service-box {
  background: #ffffff;
  max-width: 650px;
  padding: 40px;
  margin-left: 8%;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

/* Heading */
.service-box h2 {
  color: #004d40;
  font-weight: 700;
}

/* Underline */
.service-box .line {
  display: block;
  width: 60px;
  height: 3px;
  background: #004d40;
  margin: 15px 0 25px;
}

/* Text */
.service-box p {
  color: #555;
  line-height: 1.8;
  margin-bottom: 15px;
  text-align: justify;
}

/* Button */
.service-box .btn-primary {
  background-color: #004d40;
  border-color: #004d40;
}

.service-box .btn-primary:hover {
  background-color: #00362e;
  border-color: #00362e;
}

/* Mobile responsive */
@media (max-width: 991px) {
  .service-bg-section {
    padding: 80px 0;
    background-attachment: scroll;
  }

  .service-box {
    margin: 0 15px;
  }
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  border-color: rgba(0, 0, 0, 0.5);
}
/* CONTACT SECTION */
.contact-section {
  background: #f7f7f7;
 margin-top: 100px;
}

.contact-box {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  padding: 40px;
 
}

.section-heading {
  font-weight: 600;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
  padding-bottom: 8px;
}

.contact-left .name {
  color: #197c75;
  font-weight: 600;
  margin-bottom: 2px;
}

.contact-left .role {
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
}

.contact-left .info {
  font-size: 15px;
  margin-bottom: 6px;
}

.contact-form label {
  font-size: 14px;
  margin-bottom: 5px;
}

.contact-form .form-control {
  border-radius: 4px;
  height: 44px;
}

.contact-form textarea.form-control {
  height: auto;
}

.btn-send {
  background: #197c75;
  color: #fff;
  padding: 10px 30px;
  border-radius: 4px;
  border: none;
}

.btn-send:hover {
  background: #145f5a;
}

/* Responsive */
@media (max-width: 991px) {
  .contact-box {
    padding: 25px;
  }

  .contact-left {
    margin-bottom: 40px;
  }
}
/* WHY US SECTION */
.why-us-section {
  background: #0b6f66; 
  padding: 80px 0 100px;
  position: relative;
}

.why-us-top {
  max-width: 800px;
  margin: 0 auto 60px;
  color: #fff;
}

.why-us-top h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
}

.why-us-top p {
  font-size: 17px;
  line-height: 1.7;
  opacity: 0.95;
  text-align: justify;
}

.why-us-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 30px;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  background: grey;
}

.why-us-btn:hover {
  background-color: #000;
  color: white;
}

/* BOTTOM BOXES */
.why-boxes {
  margin-top: 40px;
}

.why-box {
  background: #ffffff;
  padding: 35px 30px;
  border-radius: 6px;
  height: 100%;
  transition: all 0.35s ease;
}

.why-box h4 {
  font-weight: 600;
  margin-bottom: 12px;
  color: #0b6f66;
}

.why-box p {
  color: #555;
  line-height: 1.6;
}

/* HOVER EFFECT */
.why-box:hover {
  background: grey;
  transform: translateY(-6px);
}

.why-box:hover h4,
.why-box:hover p {
  color: #ffffff;
}

/* MOBILE */
@media (max-width: 768px) {
  .why-us-top h2 {
    font-size: 32px;
  }
}

/* Banner */

.project-banner {
  position: relative;
  height: 400px;
  background: url("../images/project.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Overlay */
.project-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55); /* dark overlay */
}

.project-banner h1 {
  position: relative;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2px;
  z-index: 1;
}

.project-section h2 {
  color: #004d40;
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
}

/* Small underline */
.project-section h2::after {
  content: "";
  width: 80px;
  height: 3px;
  background: #004d40;
  display: block;
  margin: 12px auto 0;
}


/* Section */
.project-section {
  padding: 60px 5%;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* always 3 columns */
  gap: 20px;
  overflow: hidden;
}

/* Tablet */
@media (max-width: 992px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 576px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}


/* Image box */
.project-grid img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 0.5s ease;
  cursor: pointer;
}

/* Hover zoom */
.project-grid img:hover {
  transform: scale(1.1);
}


.project-grid {
  overflow: hidden;
}

/* Mobile */
@media (max-width: 768px) {
  .project-banner h1 {
    font-size: 32px;
  }

  .project-grid img {
    height: 220px;
  }
}
.footer-line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4); /* soft white */
}

.designer-link {
  color: hwb(0 100% 0%);
  text-decoration: none;
  font-weight: 500;
}

.designer-link:hover {
  color: #197c75; 
}
.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social a svg {
  width: 35px;
  height: 35px;
  fill: #ffffff;
  transition: transform 0.3s ease, fill 0.3s ease;
}

.footer-social a:hover svg {
  transform: scale(1.15);
  fill: #197c75; 
}
/* LIGHTBOX */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.lightbox .close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

.lightbox .nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: white;
  cursor: pointer;
  user-select: none;
}

.lightbox .prev {
  left: 30px;
}

.lightbox .next {
  right: 30px;
}


/* IMAGE CURSOR */
.project-img {
  cursor: pointer;
  transition: transform 0.4s ease;
}

.project-img:hover {
  transform: scale(1.05);
}
